.sidebar .nav-item>button>div>span,
.sidebar .nav-item>a>div>span {
    color: #A1AEC0;
    font-size: 16px;
    font-weight: 400;
}

.sidebar .nav-item>button.active>div>span,
.sidebar .nav-item>a.active>div>span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sidebar .nav-item>a.active {
    background-color: #E2AD17;
    border-radius: 25px;

}

.sidebar ul.sub-menu li a.active {
    border-radius: 25px;
    background-color: #1A2C48;
    color: white;
}

.sidebar ul.sub-menu li button:hover,
.sidebar ul.sub-menu li a:hover {
    border-radius: 25px;
    background-color: #1A2C48;
    color: rgb(249 249 249);
}